<!DOCTYPE html>
<head>
    <title>Create Events</title>
    <link rel="stylesheet" href="https://amg-event-registration-bucket.s3.eu-central-1.amazonaws.com/register-now/style.css">
    <script src="https://amg-event-registration-bucket.s3.eu-central-1.amazonaws.com/register-now/scriptFile.js"></script>
</head>
<body onload="checkCreateEventsPage()">
    <div id="outerBox">
        <div>
            <input type="text" placeholder="Event Name" class="textarealogin" id="eventname"><br><br>
            <input type="text" placeholder="Location" class="textarealogin" id="location"><br><br>
            <input type="text" placeholder="Start Date" class="textarealogin" id="startdate"><br><br>
            <input type="text" placeholder="End Date" class="textarealogin" id="enddate"><br><br>
            <input type="text" placeholder="Experience" class="textarealogin" id="experience"><br><br>
            <input type="text" placeholder="Cars" class="textarealogin" id="cars"><br><br>
            <input type="text" placeholder="Level" class="textarealogin" id="level"><br><br>
            <button class="btn" onclick="makeEvent()">Publish</button>
        </div>
    </div>
    
</body>